/* SEARCH BAR */
.search-section {
  display: flex;
  place-content: center;
}
.search-bar {
  width: 1312px;
  height: 50px;
  background: #F5F5F5;
  border-radius: 30px;
  margin-top: 130px;
  box-shadow: 1px 5px 20px #9f9f9f3e;  
}

.tag-first {
  margin-left: 30px;
}

.tag-search {
  margin: 10px 0px 0px 10px;
}

/* Search Button */
#content {
  position: absolute;
  height: 420px;
  width: 20px;
  margin-left: 670px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content.on {
  -webkit-animation-name: in-out;
  animation-name: in-out;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.input-search {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 3px solid transparent;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: 'General Sans', Arial, sans-serif;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.input-search:focus{
  outline: 1px solid transparent;
}

.search {
  background: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 100%;
  outline: 0;
  border: 0;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.search:before {
  content: "";
  position: absolute;
  width: 20px;
  background-color: #CBC5C5;
  margin-top: 26px;
  margin-left: 17px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 50px;
  border: 3px solid #CBC5C5;
  border-radius: 1000px;
  background: none;
  color: #9F9F9F;
  font-family: 'General Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

/* MAIN BLOG */
.blog-section {
  max-width: 1270px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1312px;
  height: 310px;
  background: #F5F5F5;
  border-radius: 30px;
  padding: 30px;
  margin-top: 30px;
  box-shadow: 1px 5px 20px #9f9f9f3e; 
}

.blog-section h2 {
  font-size: 3rem;
  line-height: 55px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
}

.sub-blog {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #9F9F9F;
}

.read-more-btn {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #00866d;
  padding: 20px 100px 20px 0px;
  display: flex;
  place-content: end;
  padding-top: 50px;
  transition: all 0.7s ease 0s;
}

.read-more-btn:hover {
  color: #5ab88f;
}

/* CARD BLOG */
.card-blog {
  padding-top: 50px;
}

.card-blog h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #0d0d0d;
  padding-left: 100px;
}

.card-container-blog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: space-around;
  padding: 20px 80px 20px 80px;
}

.card-container-blog h4 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 100%;
  color: #000000;
  margin: 10px 0px;
}

.card-container-blog p {
  font-weight: 400;
  font-size: 0.93rem;
  line-height: 21px;
  color: #9f9f9f;
}

.card-content-blog {
  width: 320px;
  height: 360px;
  background: #f5f5f5;
  border-radius: 20px;
  display: grid;
  justify-content: center;
  padding-top: 15px;
  /* box-shadow: 1px 1px 1px #9f9f9f3e; */
  box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
}