/* MAIN SECTION */
.main-company {
  max-width: 100%;
  height: 491px;
  background: #0F876E;
  display: flex;
  justify-content: center;
  padding-top: 250px;
  padding-right: 85px;
}

.main-company img {  
  position: relative;
  bottom: 39px;  
}

.container-company {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-self: center;
  position: relative;
}

.food-word {
  width: 139px;
  height: 60px;
  border: 1px solid #F5F5F5;
  border-radius: 40px;
  padding: 5px 15px;
}

.container-company h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: #F5F5F5;
  padding-bottom: 65px;
}

.green-circle {
  position: relative;
  top: 10px;
  padding: 0px 5px;
}

.down-btn {
  display: flex;
  position: relative;
  left: 700px;
  width: 50px;
  height: 50px;
}

/* BUILDING FUTURE */
.bf-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #0D0D0D;
  padding: 150px 0px 20px 0px;
}

.bf-cards {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.bf-card-01 {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  width: 796px;
  height: 550px;
  left: 312px;
  top: 931px;
  background: #FFFFFF;
  border-radius: 50px;
  gap: 20px;
}

.bf-description {
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: #0D0D0D;
}

.leafer {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #0D0D0D;
  padding-top: 140px;
}

.job-role {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #404040;
}

.bf-card-02 {
  width: 81px;
  height: 550px;
  background: #FFFFFF;
  border-radius: 50px;
}

.img-leafer-02 {
  position: relative;
  top: 445px;
  left: 16px;
}

.leafer-02 {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #0D0D0D;
  width: 300px;
  position: relative;
  top: 300px;
  right: 120px;
  transform: rotate(270deg);
}

.job-role-02 {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #404040;
  position: relative;
  position: relative;
  top: 387px;
  left: 12px;
  transform: rotate(270deg);
}

/* PLAY */
.play-btn {
  display: flex;
  position: relative;
  top: 412px;
  left: 700px;
  width: 120px;
  height: 120px;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

.play-btn:hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}

.play-background {
  width: 100%;
}

/* BOX NUMBERS */
.number-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 20px;
  padding-left: 10px;
}

.box-number-01 {
  width: 671px;
  height: 688px;
  background: #005E59;
  border-radius: 30px;
}

.bn-title-01 {
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: #F5F5F5;
  margin: 0;
}

.bn-descp-01 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #F5F5F5;
}

.box-02-04 {
  display: flex;
  flex-wrap: wrap;
  padding-right: 15px;
}

.box-number-02 {
  width: 423px;
  height: 364px;
  background: #92DB62;
  border-radius: 30px;
}

.bn-title-02 {
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  text-align: center;  
  color: #000000;
  margin: 0;
}

.bn-descp-02 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;  
  color: #000000;
}

.box-number-03 {
  width: 418px;
  height: 364px;
  background: #0B5E57;
  border-radius: 30px;
}

.bn-title-03 {
  font-weight: 600;
  font-size: 48px;
  line-height: 55px;
  text-align: center;  
  color: #D6D6D6;
  margin: 0;
}

.bn-descp-03 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;  
  color: #D7D6D6;  
}

.box-number-04 {
  /* position: relative;
  bottom: 324px;
  left: 335px; */
  width: 841px;
  height: 324px;
  background: #33CC99;
  border-radius: 30px;
}

.bn-title-04 {
  font-weight: 600;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: #F5F5F5;
  margin: 0;
}

.bn-descp-04 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #F5F5F5;
}

/* OUR TEAM */
.team-title {
  display: flex;
  justify-content: center;
  padding: 60px 0px;
}

.team-title h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 55px;
  color: #000000;
}

.family-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  padding: 0px 170px 50px 170px;
  /* overflow: hidden; */
}

.the-family {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

.the-family:hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}

.brother {
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: #000000;
}

.job {
  display: inline;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.in {
  position: relative;
  top: 1px;
}

/* WITH US */
.team-section {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* gap: 100px; */
  align-items: center;
  padding-top: 30px;
  padding-bottom: 70px;
}

.team-section h2 {
  font-size: 3rem;
  line-height: 55px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
}

.plant-future {
  padding: 80px 20px 60px 20px;
}

.plant-future h2 {
  width: 320px;
  padding-right: 30px;
}

.product-sub-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #9F9F9F;
}

/* VALUES */
.values-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px 100px 70px 100px;
}

.values-card {
  width: 408px;
  height: 300px;
  background: #5AB88F;
  border-radius: 20px;
  gap: 10px;
  text-align: justify;
  place-self: center;
  justify-content: center;
}

.values-card:hover {
  background: #33CC99;
}

.values-card h4 {
  font-weight: 600;
  font-size: 48px;
  line-height: 55px;
  color: #F5F5F5;
  margin: 0;
  padding-top: 50px; 
  padding-left: 40px;
}

.values-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #F5F5F5;
  padding-top: 15px;
  padding-left: 40px;
}