footer{
    background-color: #00866D;
    background: linear-gradient(135deg, #00866D, #005E59);
    padding: 50px 0;
}

.logo-footer {
    padding: 0px 100px 74px 50px;
}

.container-footer {
    max-width: 1400px;
    padding: 0 3%;
    margin: auto;
}

.row-footer {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 10%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 1rem;
    color: white;
    margin-bottom: 20px;
    font-weight: 600;
    position: relative;
    width: 450px;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color:rgb(59, 230, 59);
    padding-left: 5px;
}

/* Last Col */
.last-col {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 200px;
}

.last-col p {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #F2F2F2;
}

.last-col h4 {
    margin-bottom: 0px;
}

form {
    display: flex;
}

.footer-col .form-sub input {
    padding: 13px 120px 13px 20px;
    border: 1px solid #5AB88F;
    border-radius: 30px;
    background: #00866D;    
    font-weight: 500;
    color: #F5F5F5;
    width: 180px;
}

input::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #F5F5F5;
}

input:focus{
    outline: 1px solid #5AB88F;
 }

.form-sub a {
    position: relative;
    right: 135px;
    font-weight: 600;
    line-height: 1.3;
    background: #5AB88F;
    color: #f5f5f5;
    border: 1px solid transparent;
    border-radius: 1000px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

.form-sub svg {
    padding: 3px;
    padding-left: 10px;
}

/* End Footer */
.div-footer {
    margin-top: 150px;
}

hr {
    border: 0;
    border-top: 1px solid white;
}

.end-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #F2F2F2;
}

.end-footer a {
    color: #F2F2F2;
}

.end-footer-items {
    display: flex;
    gap: 25px;
}

.terms-of-service:hover {
    opacity: 0.8;
}

.privacy-policy:hover {
    opacity: 0.8;
}

.social-media {
    gap: 5px;
}

.social-logo {
    padding: 8px;
}

.social-logo:hover {
    opacity: 0.7;
}

/* Contact Button */
.contact-button {
    width: 62px;
    height: 62px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 90;
    margin-bottom: 3rem;
}