footer{
    background-color: #00866D;
    background: linear-gradient(135deg, #00866D, #005E59);
    padding: 50px 0;
}

.footer-logo {
    padding-left: 50px;
}

.footer-container {
    max-width: 1400px;
    padding: 0 3%;
    margin: auto;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.footer-col {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.footer-col h4 {
    font-size: 1rem;
    color: white;
    margin-bottom: 20px;
    font-weight: 600;
}

.footer-col ul li {
    margin: 10px 0;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #33CC99;
}

.footer-col1 {
    grid-column: 1 / 3;
}

.footer-col2 {
    grid-column: 3 / 4;
}

.footer-col3 {
    grid-column: 4 / 5;
}

.footer-col4 {
    grid-column: 5 / 6;
}

.footer-col5 {
    grid-column: 6 / 8;
}

/* Last Col */
.footer-col5 p {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #F2F2F2;
    margin-bottom: 10px;
}

.footer-col5 h4 {
    margin-bottom: 10px;
}

.form-footer {
    display: flex;
}

.input-footer {
    padding: 13px 120px 13px 20px;
    border: 1px solid #5AB88F;
    border-radius: 30px;
    background: #00866D;    
    font-weight: 500;
    color: #F5F5F5;
    width: 180px;
}

.input-footer::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #F5F5F5;
}

.input-footer:focus{
    outline: 1px solid #5AB88F;
 }

.form-sub a {
    position: relative;
    right: 125px;
    font-weight: 600;
    line-height: 1.3;
    background: #5AB88F;
    color: #f5f5f5;
    border: 1px solid transparent;
    border-radius: 1000px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
}

/* End Footer */
.footer-hr {
    margin-top: 150px;
}

hr {
    border: 0;
    border-top: 1px solid white;
}

.end-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #F2F2F2;
}

.end-footer a {
    color: #F2F2F2;
}

.end-footer-items {
    display: flex;
    gap: 25px;
}

.terms-of-service {
    transition: .1s ease-out;
}

.terms-of-service:hover {
    opacity: 0.8;
}

.privacy-policy {
    transition: .1s ease-out;
}

.privacy-policy:hover {
    opacity: 0.8;
}

.social-media {
    display: flex;
    gap: 5px;
}

.social-logo {
    padding: 8px;
    transition: .1s ease-out;
}

.social-logo:hover {
    opacity: 0.7;
}

@media (max-width: 600px) {
    hr {
        display: none;
    }
    .footer-container {
        padding-left: 50px;
    }
    .footer-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-col {
        justify-items: center; 
    }
    .footer-col h4 {
        margin: 0;
        font-size: 1.5rem;
    }
    .footer-col1 {
        width: 600px;
    }
    .footer-logo {
        padding-left: 0;
    }
    .footer-col2 {
        width: 600px;
    }
    .footer-col3 {
        width: 600px;
    }
    .footer-col4 {
        width: 600px;
    }
    .footer-col5 {
        padding-left: 100px;
        padding-bottom: 30px;
    }

    .end-footer {
        display: grid;
        grid-template-columns: 1fr;
        flex-direction: column;
        justify-items: center;
    }
    .end-footer-items {
        display: none;
    }
    .social-media {
        gap: 30px;
    }
    .social-media img {
        width: 40px;
    }
}



/* Contact Button */
.contact-button {
    width: 62px;
    height: 62px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 90;
    margin-bottom: 3rem;
}