/* * {
    box-sizing: border-box;
} */

body {
    font-family: 'General Sans', Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #0D0D0D;
    background: #F5F5F5;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    /* display: block; */
}

::-moz-selection {
	color: #F5F5F5;
	background: #5AB88F;
}
  
::selection {
	color: #F5F5F5;
	background: #5AB88F;
}