/* HEADER */
.header {
  max-width: 1300px;
  padding: 17px 142px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.logo {
  cursor: pointer;
}

@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background: #5ab88f;
    color: #005e59;
    border-radius: 4px;
  }
  .header a:hover {
    background: #5ab88f;
    color: #f3f3f3;
    border-radius: 4px;
  }
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.nav-bar .nav-bar_item {
  padding: 26px 20px;
}

/* Links */
nav .nav-bar .nav-bar_item .header-links {
  position: relative;
  display: block;
  padding-bottom: 5px;
  color: #0d0d0d;
}

nav .nav-bar .nav-bar_item .header-links:hover {
  color: #005e59;
}

nav .nav-bar .nav-bar_item .header-links:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #00866d;
  transition: 0.1s ease-in-out;
}

nav .nav-bar .nav-bar_item .header-links:hover:after {
  width: 100%;
}

/* Dropdown Products */
.nav-bar .dropdown {
  position: relative;
}

.nav-bar .dropdown:after {
  content: "";
  position: absolute;
  right: 6px;
  top: 29px;
  width: 7px;
  height: 7px;
  cursor: pointer;
  transform: rotate(-45deg);
  border-left: 2px solid #00866d;
  border-bottom: 2px solid #00866d;
  transition: 0.2s ease-in-out;
}

.nav-bar .dropdown:hover:after {
  transform: rotate(135deg);
}

.nav-bar .dropdown .project {
  position: absolute;
  transform: translateX(-20px) translateY(5px);
  height: 229px;
  width: 544px;
  background: #ffffff;
  box-shadow: 0px 14px 70px rgba(0, 0, 0, 0.1);
  padding: 23px;
  border-radius: 10px;
  overflow: hidden;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}

.nav-bar .dropdown:hover .project {
  visibility: visible;
}

/* Dropdown Company */
.nav-bar .dropdown2 {
  position: relative;
}

.nav-bar .dropdown2:after {
  content: "";
  position: absolute;
  right: 6px;
  top: 29px;
  width: 7px;
  height: 7px;
  cursor: pointer;
  transform: rotate(-45deg);
  border-left: 2px solid #00866d;
  border-bottom: 2px solid #00866d;
  transition: 0.2s ease-in-out;
}

.nav-bar .dropdown2:hover:after {
  transform: rotate(135deg);
}

.nav-bar .dropdown2 .project {
  position: absolute;
  transform: translateX(-20px) translateY(5px);
  height: 160px;
  width: 100px;
  background: #ffffff;
  box-shadow: 0px 14px 70px rgba(0, 0, 0, 0.1);
  padding: 23px;
  border-radius: 10px;
  overflow: hidden;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}

.nav-bar .dropdown2:hover .project {
  visibility: visible;
}

/* Dropdown EN */
.nav-bar .dropdown3 {
  position: relative;
}

.nav-bar .dropdown3:after {
  content: "";
  position: absolute;
  right: 6px;
  top: 29px;
  width: 7px;
  height: 7px;
  cursor: pointer;
  transform: rotate(-45deg);
  border-left: 2px solid #00866d;
  border-bottom: 2px solid #00866d;
  transition: 0.2s ease-in-out;
}

.nav-bar .dropdown3:hover:after {
  transform: rotate(135deg);
}

.nav-bar .dropdown3 .project {
  position: absolute;
  transform: translateX(-20px) translateY(5px);
  height: 60px;
  width: 90px;
  background: #ffffff;
  box-shadow: 0px 14px 70px rgba(0, 0, 0, 0.1);
  padding: 23px;
  border-radius: 10px;
  overflow: hidden;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}

.nav-bar .dropdown3:hover .project {
  visibility: visible;
}

/* Drop Item */
nav .nav-bar .nav-bar_item a {
  padding-bottom: 5px;
  color: #0d0d0d;
}

nav .nav-bar .nav-bar_item a:hover {
  color: #005e59;
}

/* Drop Content */
.drop-content img {
  display: flex;
  flex-wrap: wrap;
}

.drop-content li {
  list-style-type: none;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #0d0d0d;
}

.drop-content p {
  display: inline;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #9f9f9f;
}

/* Access Buttons */
.header-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  font-size: 0.93rem;
}

.signin-btn:hover {
  cursor: pointer;
  color: #005e59;
}

.green-btn {
  font-weight: 600;
  line-height: 1.3;
  background: #00866d;
  border-radius: 1000px;
  color: #f5f5f5;
  padding: 10px 25px;
}

.green-btn:hover {
  font-weight: 600;
  line-height: 1.3;
  background: #5ab88f;
  border-radius: 1000px;
  color: #f3f3f3;
  padding: 10px 25px;
  transition: all 0.7s ease 0s;
  cursor: pointer;
}

.green-btn:active {
  transform: scale(0.95);
}

.green-btn:focus {
  outline: none;
}

.green-btn.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.eng-btn {
  font-weight: 600;
}

.eng-btn:hover {
  cursor: pointer;
  color: #005e59;
}