/* CALL TO ACTION */
.intro {
  max-width: 1300px;
  padding: 117px 142px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
  align-content: center;
  background: #f2f2f2;
}

.intro h1 {
  font-size: 3.87rem;
  line-height: 0.95;
  font-weight: 600;
}

.faster {
  color: #5ab88f;
  font-style: italic;
}

.x-typed-cursor {
  padding-left: 2px;
}

.intro-sub {
  color: #9f9f9f;
  font-weight: 500;
  font-size: 1.125rem;
  padding: 20px 0px 50px 0px;
  line-height: 140%;
}

.arrow-start {
  position: relative;
  top: 2px;
  left: 5px;
  transition: all 0.7s ease 0s;
}

.arrow-start:hover {
  position: relative;
  top: 2px;
  left: 12px;
}

.sales-btn {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #00866d;
  color: #005e59;
  padding: 10px 25px;
  transition: all 0.7s ease 0s;
}

.sales-btn:hover {
  color: #5ab88f;
}

/* CLIENTS */
.clients-section {
  padding: 50px 100px;
}

.trusted {
  padding-bottom: 30px;
  color: #0d0d0d;
  font-weight: 600;
  font-size: 0.93rem;
  display: flex;
  justify-content: center;
}

.clients {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

/* LEAF VALUES */
.values-section {
  background: #EFEFEF;
  padding: 80px;
}

.values-tittle {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  color: #0D0D0D;
}

.values-sub {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 30px;
  text-align: center;
  color: #404040;
  margin-top: 20px;
}

.green-line {
  width: 28px;
  height: 4px;
  background: #00866D;
  border-radius: 8px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.values-col {
  padding-left: 30px;
  padding-top: 30px;
}

.values-content {
  display: flex;
  align-items: center;
  padding: 15px;
}

.values-logo {
  max-width: 42px;
  opacity: 0.8;
}

.values-text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  color: #404040;
  padding-left: 20px;
}

/* PRODUCTS */
.product-section {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.product-section h2 {
  font-size: 3rem;
  line-height: 55px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
}

.machine-section {
  max-width: 1300px;
  padding: 80px 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  align-items: center;
}

.machine-section h2 {
  font-size: 3rem;
  line-height: 55px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
}

.dev-section {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 60px;
}

.dev-section h2 {
  font-size: 3rem;
  line-height: 55px;
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
}

.field-section {
  max-width: 1300px;
  /* padding: 40px 20px; */
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 100px; */
  align-items: center;
  padding: 80px;
}

.field-section h2 {
  font-size: 3rem;
  line-height: 55px;
  font-weight: 600;
  /* margin-top: 15px; */
  /* margin-bottom: 10px; */
}

.field-section img {
  padding-left: 50px;
}

.field-text {
  padding-left: 150px;
}

.field-background {
  /* background: #EFEFEF; */
  background: #FFFFFF;
  max-width: 100%;
}

.product-name {
  font: "Source Code Pro";
  font-size: 0.75rem;
  font-weight: 700;
  color: #9f9f9f;
  background: #efefef;
  padding: 8px 16px;
  border-radius: 25px;
  text-transform: uppercase;
  display: inline-block;
}

.white-word {
  color: #f5f5f5;
}

.green-word {
  color: #5ab88f;
}

.green-word2 {
  color: limegreen;
}

.product-sub {
  color: #9f9f9f;
  font-weight: 400;
  font-size: 0.93rem;
  padding: 20px 0px 20px 0px;
  line-height: 21px;
  padding-top: 0px;
  padding-bottom: 30px;
}

.product-sub-data {
  color: #404040;
  font-weight: 400;
  font-size: 0.93rem;
  padding: 30px 0px 40px 0px;
  line-height: 21px;
}

.product-sub-field {
  color: #404040;
  font-weight: 400;
  font-size: 0.93rem;
  padding: 30px 0px 40px 0px;
  line-height: 21px;
}

.seemore-area {
  display: flex;
  align-items: center;
}

.seemore-btn {
  color: #00866d;
  font-weight: 600;
  font-size: 0.93rem;
  margin-right: 5px;
  transition: all 0.7s ease 0s;
}

.seemore-btn:hover {
  color: #5AB88F;
}

.seemore-area3 {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.seemore-btn3 {
  color: #00866d;
  font-weight: 600;
  font-size: 0.93rem;
  margin-right: 5px;
  transition: all 0.7s ease 0s;
}

.seemore-btn3:hover {
  color: #5AB88F;
}

.product-sub-white {
  color: #f3f3f3;
  font-weight: 400;
  font-size: 0.93rem;
  padding: 30px 0px 40px 0px;
  line-height: 140%;
}

.product-sub-dev {
  color: #404040;
  font-weight: 400;
  font-size: 0.93rem;
  padding: 15px 0px 30px 0px;
  line-height: 21px;
}

.product-sub-team {
  color: #404040;
  font-weight: 400;
  font-size: 0.93rem;
  padding: 20px 0px 20px 0px;
  line-height: 21px;
  padding-top: 0px;
  padding-bottom: 52px;
}

.learn-more-btn {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #00866d;
  padding: 20px 0px 20px 0px;
  transition: all 0.7s ease 0s;
}

.learn-more-btn:hover {
  color: #5ab88f;
}

.imagery-btn {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #4de4a2;
  padding: 20px 0px 20px 0px;
  transition: all 0.7s ease 0s;
}

.imagery-btn:hover {
  color: #5ab88f;
}

.seemore-area2 {
  display: flex;
  align-items: center;
}

.seemore-btn2 {
  color: #4de4a2;
  font-weight: 600;
  font-size: 0.93rem;
  margin-right: 5px;
  transition: all 0.7s ease 0s;
}

.seemore-btn2:hover {
  color: #5ab88f;
}

.product-name-img {
  max-width: 100%;
  max-height: 100%;
}

.imagery-background {
  position: relative;
  bottom: 30px;
  background: #00866d;
  max-width: 1400px;
  max-height: 100%;
  border-radius: 30px 30px 0px 0px;
  padding: 70px;
  z-index: 1;
}

.imagery-1fr {
  padding-left: 100px;
}

/* ENDPOINTS */
.endpoints-section {
  display: flex;
  justify-content: center;
  background: #efefef;
}

.intuitive-endpoints {
  color: #0d0d0d;
  font-weight: 600;
  font-size: 3rem;
  line-height: 55px;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 53px;
}

.endpoints-menu {
  display: flex;
  gap: 5px;
  padding-bottom: 20px;
}

.endpoint-item {
  padding: 14px 26px;
  gap: 10px;
  width: 190px;
  height: 20px;
  background: #00866d;
  align-items: center;
  text-align: center;
}

.endpoint-item a {
  font-weight: 600;
  font-size: 1rem;
  color: #f5f5f5;
}

/* Terminal */
.endpoints-background {
  width: 797px;
  height: 253px;
  background: #0d0d0d;
  border-radius: 5px;
  justify-content: center;
  padding-top: 10px;
  margin-top: 20px;
}

.endpoint-code {
  font: "Source Code Pro";
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.number {
  color: #9f9f9f;
  position: relative;
  left: -20px;
  line-height: 26px;
  padding-top: 5px;
  z-index: 1;
}

.endpoints-content {
  color: #efefef;
  position: relative;
  left: -320px;
  width: 460px;
  line-height: 26px;
  z-index: 1;
}

.endpoints-content span {
  color: #5ab88f;
}

.try-test-data {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

/* TECHNOLOGY FIRST */
.tech-first {
  margin: 80px 100px;
}

.tech-first img {
  margin: auto;
}

.tech-first h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  padding-left: 150px;
  padding-top: 65px;
  position: absolute;
}

.tech-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 240px;
  padding-right: 210px;
  margin-bottom: -180px;
}

.tech-items {
  position: relative;
  top: -345px;
}

.tech-items h4 {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #f5f5f5;
  margin-bottom: 18px;
  margin-top: 11px;
}

.tech-items p {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #f5f5f5;
}

/* CALL TO ACTION */
.cta-background {
  background: #00866d;
  max-width: 1600px;
  padding: 120px;
}

.build-today {
  color: #ffffff;
  font-weight: 600;
  font-size: 3rem;
  line-height: 55px;
  text-align: center;
}

.what-do {
  display: flex;
  align-items: center;
  justify-content: center;
}

.light-green-btn {
  /* margin-top: 30px;
  margin-bottom: 30px; */
  color: #f5f5f5;
  background: #5ab88f;
  font-weight: 600;
  font-size: 0.93rem;
  border-radius: 1000px;
  padding: 10px 25px;
  transition: all 0.7s ease 0s;
}

.light-green-btn:hover {
  font-weight: 600;
  background: #005e59;
  border-radius: 1000px;
  color: #f3f3f3;
  padding: 10px 25px;
  cursor: pointer;
}

.light-green-btn:active {
  transform: scale(0.95);
}

.light-green-btn:focus {
  outline: none;
}

.light-green-btn.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.green-white-btn {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #f5f5f5;
  background: #00866d;
  font-weight: 600;
  font-size: 0.93rem;
  border-radius: 1000px;
  padding: 10px 25px;
  margin-left: 10px;
  border: 1px solid #f5f5f5;
  transition: all 0.7s ease 0s;
}

.green-white-btn:hover {
  font-weight: 600;
  background: #f5f5f5;
  border-radius: 1000px;
  color: #00866d;
  padding: 10px 25px;
  cursor: pointer;
}

.green-white-btn:active {
  transform: scale(0.95);
}

.green-white-btn:focus {
  outline: none;
}

.green-white-btn.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

/* CARD BLOG */
.next-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
}

.next-card h3 {
  display: grid;
  align-content: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #0d0d0d;
  padding-left: 125px;
}

.next-btn {
  cursor: pointer;
  display: flex;
  justify-content: end;
  padding-right: 125px;
  gap: 5px;
}

.next-btn img {
  padding: 5px;
}

.card-container {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  justify-items: center;
  padding: 20px 200px 80px 200px;
}

.card-container h4 {
  font-weight: 600;
  font-size: 1.25rem;
  color: #000000;
}

.card-container p {
  font-weight: 400;
  font-size: 0.93rem;
  line-height: 25px;
  color: #9f9f9f;
  margin-top: 10px;
}

.card-content {
  width: 340px;
  height: 360px;
  background: #f5f5f5;
  border-radius: 20px;
  padding: 22px 0px 0px 0px;
  /* box-shadow: 1px 1px 1px #9f9f9f3e; */
  box-shadow: 5px 5px 15px 0px rgba(44,44,44,0.15);
}

.card-content, img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.card-text-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 0px 0px 70px 30px;
}