/* CALL TO ACTION */
.main-pricing {
  max-width: 100%;
  height: 491px;
  background: #0F876E;
}

.container-pricing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  padding: 150px 170px 0px 170px;
}

.card-01 {
  width: 346px;
  height: 511px;
  background: #F5F5F5;
  border: 1px solid #5AB88F;
  border-radius: 30px;
  display: grid;
  text-align: center;
  align-content: center;
  place-self: center;
}

.card-02 {
  width: 346px;
  height: 535px;
  background: #5AB88F;
  border: 1px solid #5AB88F;
  border-radius: 30px;
  display: grid;
  text-align: center;
  align-content: center;
  place-self: center;
}

.card-03 {
  width: 346px;
  height: 511px;
  background: #F5F5F5;
  border: 1px solid #5AB88F;
  border-radius: 30px;
  display: grid;
  text-align: center;
  align-content: center;
  place-self: center;
}

.line-card {
  width: 200px;
  height: 0px;
  left: 259px;
  top: 453px;
  border: 1px solid #9F9F9F;
}

.line-card-g {
  width: 200px;
  height: 0px;
  left: 259px;
  top: 453px;
  border: 1px solid #F5F5F5;
}

.align-img {
  place-self: center;
}

/* card content */
.card-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #0B5E57;
  padding: 30px;
}
  
.card-sub-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  color: #0D0D0D;
  padding: 30px;
}
  
.card-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #9F9F9F;
  padding: 30px 0px 60px 0px;
}
  
.white-green-btn {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #00866d;
  background: #f5f5f5;
  font-weight: 600;
  font-size: 0.93rem;
  border-radius: 1000px;
  padding: 10px 25px;
  margin-left: 10px;
  border: 1px solid #00866d;
  transition: all 0.7s ease 0s;
}

.white-green-btn:hover {
  font-weight: 600;
  background: #00866d;;
  border-radius: 1000px;
  color: #f5f5f5;
  padding: 10px 25px;
  cursor: pointer;
}

.white-green-btn:active {
  transform: scale(0.95);
}

.white-green-btn:focus {
  outline: none;
}

.white-green-btn.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

/* green card content */
.card-title-g {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;  
  color: #FFFFFF;
  padding: 30px;
}
  
.card-sub-title-g {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  text-align: center;    
  color: #FFFFFF;
  padding: 30px;
}
  
.card-text-g {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  color: #F5F5F5;
  padding: 30px 0px 60px 0px;
}
  
.white-btn {
  margin-top: 30px;
  margin-bottom: 30px;
  color: #00866d;
  background: #f5f5f5;
  font-weight: 600;
  font-size: 0.93rem;
  border-radius: 1000px;
  padding: 10px 25px;
  margin-left: 10px;
  border: 1px solid #f5f5f5;
  transition: all 0.7s ease 0s;
}

.white-btn:hover {
  font-weight: 600;
  background: #00866d;
  border-radius: 1000px;
  color: #f5f5f5;
  padding: 10px 25px;
  cursor: pointer;
  border: 1px solid #00866d;
}

.white-btn:active {
  transform: scale(0.95);
}

.white-btn:focus {
  outline: none;
}

.white-btn.ghost {
  background-color: transparent;
  border-color: #ffffff;
}
  
/* BUSINESS MODEL */
.business-model {
  display: flex;
  justify-content: center;
  padding-top: 250px;
  text-align: center;
}

.business-model-content {
  width: 1250px;
  height: 314px;
  background: #00866D;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bm-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 55px;
  color: #FFFFFF;
}

.bm-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #EFEFEF;
  padding: 20px 0px 20px 0px;
}

/* FAQ */
.container-faq {
  width: 80%;
  max-width: 800px;
  margin: 10px auto;
}

.title-faq {
  font-weight: 600;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
  padding: 70px 0pc 10px 0px;
}

button.accordion {
  width: 100%;
  background-color: whitesmoke;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 100%;
  color: #0D0D0D;
  cursor: pointer;
  transition: background-color 0.2s linear;
  border: 1px solid #9F9F9F;
  border-radius: 10px;
}

button.accordion:after {
  content: "+";
  font-size: 18px;
  float: right;
}

button.accordion.is-open:after {
  content: "-";
}

button.accordion:hover,
button.accordion.is-open {
  background-color: #ddd;
}

.accordion-content {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  font-weight: 400;
  font-size: 0.93rem;
  line-height: 21px;
  color: #9F9F9F;
  margin-bottom: 10px;
}

.accordion-content p {
  padding: 10px;
  margin: 10px 0px 10px 0px;
}

.any-quest {
  font-weight: 400;
  font-size: 0.93rem;
  line-height: 21px;
  text-align: center;
  color: #404040;
  padding: 10px 0px 20px 0px;
}

.cta-div {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}