@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');

/* CALL TO ACTION */
.intro-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
    padding: 117px 142px 52px 142px;
    background: #F2F2F2;
}

.cta-area {
    padding-top: 50px;
}

.intro-products h1 {
    font-size: 3.87rem;
    line-height: 0.95;
    font-weight: 600;
}

.the-product {
    font-size: 0.75rem;
    font-weight: 700;
    color: #9F9F9F;
    background: #EFEFEF;
    padding: 8px 16px;
    margin-bottom: 10px;
    border-radius: 25px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    width: 700px;
}

.product-intro-sub {
    color: #0D0D0D;
    font-weight: 500;
    font-size: 1.125rem;
    padding: 20px 0px 50px 0px;
    line-height: 140%;
}

.green-word-product {
    color: #5AB88F;
    font-weight: 500;
    font-size: 1.125rem;
    padding: 20px 0px 50px 0px;
    line-height: 140%;
    font-weight: bold
}

.intro-products img {
    position: relative;
    top: 50px;
    right: 25px;
}

/* PRODUCTS */
.gray-background {
    background-color: #EFEFEF;
}

.partners {
    display: flex;
    justify-content: center;
    font-family: 'Source Code Pro';
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 12px;
    color: #404040;
    padding-top: 60px;
}

.products-menu {
    display: flex;
    justify-items: center;
    gap: 150px;
}

.products-menu3 {
    display: flex;
    justify-items: center;
    gap: 100px;
}

.products-item {
    padding: 60px 0px 73px 0px;
    font-weight: 600;
    font-size: 1.25rem;
    color: #404040;
}

/* .hr-products {
    padding-left: 80px;
    padding-right: 80px;
} */

hr {
    border: 0;
    border-top: 1px solid #9F9F9F;
}

/* MACHINE BRANDS */
.machine-section-p {
    padding: 0px 100px 50px 100px;    
}

.brands-tittle {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 60px;
    color: #0D0D0D;
    font-weight: 600;
    line-height: 55px;
    font-size: 2rem;
}

.text-center-tittle img {
    display: inline;
}

.brands-tittle h2 {
    text-align: center;
}

.one {
    width: 112px;
    height: 60px;
    background: #00866D;
    border-radius: 40px;
    color: #F5F5F5;
    padding: 5px 10px;
}

.brands-machine {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    justify-items: center;
    padding: 30px 100px;
}

.brands-content {
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 0 20px;
    max-width: 230px;
}

.brands-content h3 {
    margin: 10px 0;
}

.brands-img {
    justify-content: space-between;
    max-width: 40%;
}

.brands-subtittle {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 100%;
    color: #0D0D0D;
    padding-top: 10px;
}

.brands-sub-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #404040;
    padding-top: 10px;
}

/* MACHINE DATA */
.machinedata-section {
    margin: 30px auto;
}

.machinedata-title {
    display: flex;
    justify-content: center;
}

.machinedata-section h2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 55px;
    margin-top: 70px;
}

.machinedata-section span {
    width: 453px;
    height: 60px;
    background: #33CC99;
    border-radius: 40px;
    color: #F5F5F5;
    padding: 2px 12px;
    margin: 2px;
    align-items: center;
    justify-content: center;
}

.machinedata-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 0;
    justify-items: center;
}

.machinedata-col1 {
    padding-left: 400px;
    margin-bottom: 20px;
}

.machinedata-col2 {
    padding-right: 400px;
    margin-bottom: 20px;
}

.machinedata-content {
    display: flex;
    padding: 20px 0;
    gap: 15px;
    align-items: center;
}

.machinedata-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #404040;
}

/* CUSTOMER TESTIMONIAL */
.customer-tesmonial {
    height: 304px;
    width: 1296px;
    border-radius: 20px;
    background-color: #FFFFFF;
    margin: 50px auto;
    color: #404040;
    padding: 50px 80px;
    box-sizing: border-box;
    box-shadow: 1px 5px 20px #9f9f9f3e;
}

.customer-tesmonial p {
    font-size: 24px;
    font-weight: 400;
    line-height: 43px;
}

.our-customer {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.our-customer p {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #404040;
}

.customer-area {
    display: flex;
}

.customer-btn {
    color: #00866d;
    font-weight: 600;
    font-size: 0.93rem;
    margin-right: 5px;
    transition: all 0.7s ease 0s;
}

.customer-btn:hover {
    color: #5AB88F;
}

/* ENDPOINTS */
.machine-data-section {
    width: 1512px;
    height: 754px;
    padding-top: 80px;
}

.machine-btn-sec {
    display: flex;
    justify-content: center;
}

.data-menu {
    display: flex;
}

.intuitive-btn {
    padding: 10px 15px;
    width: 149px;
    height: 25px;
    background: #5AB88F;
    border-radius: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intuitive-btn a {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #F5F5F5;
}

.sample-btn {
    padding: 10px 15px;
    gap: 15px;    
    width: 149px;
    height: 25px;
    background: #F5F5F5;
    border-radius: 0px 10px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sample-btn a {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #5AB88F;
}

.line {
    max-width: 1200px;
    padding: 0;
    margin: auto;
    border: 1px solid #33CC99;
}

/* Main Part */
.machine-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.data-menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.data-menu-green {
    padding: 10px 15px;
    width: 121px;
    height: 25px;
    background: #5AB88F;
    border-radius: 10px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.data-menu-green a {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #F5F5F5;
}

.data-menu-white {
    padding: 10px 15px;
    width: 121px;
    height: 25px;
    background: #F5F5F5;
    border-radius: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.data-menu-white a {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #5AB88F;
}

/* Terminal */
.endpoints-background2 {
    justify-content: center;
    width: 600px;
    height: 542px;
    background: #00866D;
    border: 2px solid #F3F3F3;
    border-radius: 10px;
    position: relative;
    bottom: 45px;
    z-index: 1;
}
  
  .endpoint-code2 {
    font: "Source Code Pro";
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
}
  
  .number2 {
    color: #F4F4F4;
    font-weight: 400;
    font-size: 1rem;
    position: relative;
    left: 25px;
    line-height: 26px;
    padding-top: 5px;
    z-index: 1;
    bottom: 2px;
  }
  
  .endpoints-content2 {
    color: #efefef;
    position: relative;
    left: -90px;
    width: 460px;
    line-height: 26px;
    z-index: 1;
  }
  
  .endpoints-content2 span {
    color: #5ab88f;
  }

  .start-build {
    display: grid;
    align-content: center;
  }

  .start-build h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 55px;
    color: #404040;
  }

  .start-build p {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #404040;
    padding: 30px 0px 90px 0px;
  }