/* global */
@import './global.css';
@import './header.css';
@import './header-green.css';
@import './footer.css';

/* index.html */ 
@import './index.css';

/* product.html */
@import './product.css';

/* pricing.html */
@import './pricing.css';

/* company.html */
@import './company.css';

/* blog.html */
@import './blog.css'