@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');

.intro-products {
    max-width: 1300px;
    padding-top: 117px;
    padding-bottom: 52px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    align-items: center;
    align-content: center;
    background: #F2F2F2;
}

.intro-products h1 {
    font-size: 3.87rem;
    line-height: 0.95;
    font-weight: 600;
}

.the-product {
    font-size: 0.75rem;
    font-weight: 700;
    color: #9F9F9F;
    background: #EFEFEF;    
    padding: 8px 16px;
    margin-bottom: ;
    border-radius: 25px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.product-intro-sub {
    color: #0D0D0D;
    font-weight: 500;
    font-size: 1.125rem;
    padding: 20px 0px 50px 0px;
    line-height: 140%;
}

.green-word-product {
    color: #5AB88F;
    font-weight: 500;
    font-size: 1.125rem;
    padding: 20px 0px 50px 0px;
    line-height: 140%;
}

/* 02 PRODUCTS */
.products-section {
    display: flex;
    justify-content: center;
}

.products-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    align-items: center;
}

.products-item {
    font-family: 'Source Code Pro';
    padding: 60px 0px 73px 0px;
    gap: 10px;
    font-weight: 700;
    font-size: 0.75rem;
    color: #404040;
    text-transform: uppercase;
}

.hr-products {
    padding-left: 80px;
    padding-right: 80px;
}

hr {
    border: 0;
    border-top: 1px solid #9F9F9F;
}

/* #03 MACHINE BRANDS */
.machine-section-p {
    padding: 0px 100px 50px 100px;    
}

.brands-tittle {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-top: 60px;
    color: #0D0D0D;
    font-weight: 600;
    line-height: 55px;
    font-size: 2rem;
}

.text-center-tittle {
    text-align: center;
}

.brands-subtittle {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #0D0D0D;
    padding-top: 10px;
}

.brands-sub-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #404040;
    padding-top: 10px;
}

.one {
    width: 112px;
    height: 60px;
    background: #00866D;
    border-radius: 40px;
    color: #F5F5F5;
    padding: 5px 10px;
}

.brands-machine {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    gap: 30px;
}

.brands {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    justify-content: space-between;
}